<template>
  <section id="dashboard">
    <mdb-col xl="12" md="12" class="justify-content-center text-center" style="padding:0px 0px 20px 0px;">
      <a>INDICADORES</a>
    </mdb-col>
    
    
    <mdb-card>
      <mdb-row>
        <mdb-col md="3"></mdb-col>
        <mdb-col xl="6" md="6">
          <mdb-card-body class="text-center ">
              <div class="custom-control custom-switch custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="customSwitches">
                <label class="custom-control-label custom-control-label-left" for="customSwitches">Ocultar tabla</label>
                </div>
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input " id="customSwitches2">
                  <label class="custom-control-label custom-control-label-left" for="customSwitches2">Ocultar lista</label>
                </div>
          </mdb-card-body>
        </mdb-col>
      </mdb-row>


      
    <section class="mt-lg-12 ">
      <mdb-row>
        <mdb-col md="2"></mdb-col>
        <mdb-col xl="8" md="8">
          <mdb-card cascade class="cascading-admin-card justify-content-center">
            <mdb-card-body>
               <mdb-row md="12">
                  <mdb-col md="3">Comprobantes</mdb-col>
                  <mdb-col md="1" class="text-muted">75</mdb-col>
                  <mdb-col md="6">
                    <div class="progress" style="border-radius: 1.25rem;">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar"
                      style="width: 75%; background-color: blue; border-radius: 1.25rem;" ></div>
                    </div>
                  </mdb-col>
                  <mdb-col md="2" class="text-muted">S/ 1,545.00</mdb-col>         
              </mdb-row>
              <mdb-row md="12">
                  <mdb-col md="3">Persecepciones</mdb-col>
                  <mdb-col md="1" class="text-muted">25</mdb-col>
                  <mdb-col md="6">
                    <div class="progress" style="border-radius: 1.25rem;">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" role="progressbar"
                      style="width: 25%; background-color: orange; border-radius: 1.25rem;"></div>
                    </div>
                  </mdb-col>
                  <mdb-col md="2" class="text-muted">S/ 545.00</mdb-col>   
              </mdb-row>
               <mdb-row md="12">
                  <mdb-col md="3">Total</mdb-col>
                  <mdb-col md="1" class="text-muted">100</mdb-col>
                  <mdb-col md="6">
                    <div class="progress" style="border-radius: 1.25rem;">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar"
                      style="width: 100%; background-color: green; border-radius: 1.25rem;"></div>
                    </div>
                  </mdb-col>
                  <mdb-col md="2" class="text-muted">S/ 1,545.00</mdb-col>   
              </mdb-row>
            </mdb-card-body>
          </mdb-card>
        </mdb-col>
      </mdb-row>
    </section>



<section>
      <mdb-row>
        <mdb-col md="2"></mdb-col>
          <mdb-col md="8" class="mb-12">


                <form class="d-flex md-form justify-content-left" style="margin:0;">
          <mdb-btn class="rounded-circle my-0" color="primary" alt="100x100" size="sm" type="submit"><i class="fa fa-search"></i></mdb-btn>
          
        </form>

                      <mdb-tbl hover>
                          <thead>
                              <tr>
                                  <th>
                                    <a>Fecha<i class="fas fa-sort ml-1"></i></a>
                                  </th>
                                  <th>
                                    <a>Proveedor<i class="fas fa-sort ml-1"></i></a>
                                  </th>
                                  <th>
                                    <a>Forma de Pago<i class="fas fa-sort ml-1"></i></a>
                                  </th>
                                  <th>
                                    <a># Comprobante<i class="fas fa-sort ml-1"></i></a>
                                  </th>
                                  <th>
                                    <a>Total<i class="fas fa-sort ml-1"></i></a>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="note note-primary rounded" alt="100x100">
                                  <th scope="row">1/1/2020</th>
                                  <td>Maria Perez</td>
                                  <td>efectivo</td>
                                  <td>24545 </td>
                                  <td>1245</td>
                              </tr>
                              <tr class="note note-warning">
                                  <th scope="row">1/1/2020</th>
                                  <td>Maria Perez</td>
                                  <td>efectivo</td>
                                  <td>24545 </td>
                                  <td>1245</td>
                              </tr>
                              <tr class="note note-warning">
                                  <th scope="row">1/1/2020</th>
                                  <td>Maria Perez</td>
                                  <td>efectivo</td>
                                  <td>24545 </td>
                                  <td>1245</td>
                              </tr>
                              <tr class="note note-primary">
                                  <th scope="row">1/1/2020</th>
                                  <td>Maria Perez</td>
                                  <td>efectivo</td>
                                  <td>24545 </td>
                                  <td>1245</td>
                              </tr>
                          </tbody>
                      </mdb-tbl>
          </mdb-col>
      </mdb-row>
    </section>

    </mdb-card>
  



  </section>
</template>

<script>
import { mdbRow, mdbCol, mdbBtn, mdbCard, mdbCardBody,
 mdbTbl, } from 'mdbvue'
//dbIcon,

export default {
  name: 'Dashboard',
  components: {
    mdbRow,
    mdbCol,
    mdbBtn,
    mdbCard,
    mdbCardBody,
   // mdbIcon,
    mdbTbl,
  },
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.note2 {
    background-color: #e4f2f5;
    border-color: #2492a5;
}

.cascading-admin-card {
  margin: 20px 0;
}
.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}
.cascading-admin-card .admin-up .fas,
.cascading-admin-card .admin-up .far {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: right;
  margin-right: 1rem;
  border-radius: 3px;
}
.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}
.custom-switch .custom-control-label.custom-control-label-left::after {
    left: inherit;
    right: calc(-1.50rem + 2px);
}

.custom-switch .custom-control-label.custom-control-label-left::before {
    left: inherit;
    right: -2.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f5dee3;
    background-color: #f5dee3;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #be2723;
}

</style>
