<template>
  <div class="flexible-content" id="content">
    <!--Navbar-->
    <mdb-navbar class="flexible-navbar white" light position="top" >

      <mdb-navbar-brand>
        <a class="logo-wrapper" left>
          <img alt="" class="img-fluid" src="./assets/logo2.png"/>
        </a>
      </mdb-navbar-brand>
      <mdb-navbar-toggler>
        <mdb-navbar-nav right>
          <mdb-dropdown tag="li" class="nav-item">
          <mdb-dropdown-toggle tag="a" navLink slot="toggle" waves-fixed><mdb-icon icon="user" />correoe@example.com</mdb-dropdown-toggle>
          <mdb-dropdown-menu>
            <mdb-dropdown-item>Action</mdb-dropdown-item>
            <mdb-dropdown-item>Another action</mdb-dropdown-item>
            <mdb-dropdown-item>Something else here</mdb-dropdown-item>
          </mdb-dropdown-menu>
        </mdb-dropdown>
          <mdb-nav-item href="#!" waves-fixed>
            <mdb-icon icon="cog" />
          </mdb-nav-item>
          <mdb-nav-item href="#!" waves-fixed>
            <mdb-icon icon="envelope" />
          </mdb-nav-item>
          <mdb-nav-item waves-fixed>
            <mdb-icon class="icon-color" icon="power-off"/>
          </mdb-nav-item>
        </mdb-navbar-nav>
      </mdb-navbar-toggler>
    </mdb-navbar>
    <!--/.Navbar-->
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" id="wrapper">
      <mdb-list-group class="list-group-flush">
        <mdb-list-group-item>
          <a @click="toggleCollapse">
            <mdb-icon
              icon="chevron-circle-left"
              class="float-right"
            />
          </a>
        </mdb-list-group-item>

        <router-link to="/Inicio" @click.native="activeItem = 1">
          <mdb-list-group-item
            :action="true"
            :class="activeItem === 1 && 'active'"
            >Indicadores
            <mdb-icon
              icon="chart-pie"
              class="float-right"
            />
            </mdb-list-group-item>
        </router-link>
        <mdb-list-group-item>
          Ventas
            <mdb-icon
              icon="chart-pie"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Compras
            <mdb-icon
              icon="chart-pie"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Inventarios
            <mdb-icon
              icon="chart-pie"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Finanzas
            <mdb-icon
              icon="chart-pie"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Personas 
            <mdb-icon
              icon="user-friends"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Planificacion
            <mdb-icon
              icon="edit"
              class="float-right"
            />
        </mdb-list-group-item>
        <mdb-list-group-item>
          Informes
            <mdb-icon
              icon="chart-line"
              class="float-right"
            />
        </mdb-list-group-item>
      </mdb-list-group>
    </div>
    <!-- /Sidebar  -->
    <main>
      <div class="mt-5 p-5">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>

<script>
import {
  mdbNavbar,
  mdbNavbarBrand,
  mdbNavItem,
  mdbNavbarNav,
  mdbNavbarToggler,
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  mdbDropdown,
  mdbDropdownMenu,
  mdbDropdownToggle,
  mdbDropdownItem,
  waves
} from "mdbvue";

export default {
  name: "AdminTemplate",
  components: {
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavItem,
    mdbNavbarNav,
    mdbNavbarToggler,
    mdbListGroup,
    mdbListGroupItem,
    mdbIcon,
    mdbDropdown,
    mdbDropdownMenu,
    mdbDropdownToggle,
    mdbDropdownItem,
  },
  data() {
    return {
      activeItem: 1,
      toggle: false,
      collapse: true,
    };
  },
  methods: {
      toggleCollapse() {

        if ( this.toggle === false ) {
            document.querySelector('#wrapper').classList.add('toggled');
            document.querySelector('#content').classList.add('without-sidebar');
        } else {
            document.querySelector('#wrapper').classList.remove('toggled');
            document.querySelector('#content').classList.remove('without-sidebar');
        }

        this.toggle = !this.toggle;
      }
    },
  beforeMount() {
    this.activeItem = this.$route.matched[0].props.default.page;
  },
  mixins: [waves]

};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
.navbar-light .navbar-brand {
  margin-left: 15px;
  color: transparent !important;
  font-weight: bolder;
}
</style>

<style scoped>
main {
  background-color: #ededee;
}

.icon-color {
  color: darkred;
}

.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 10px;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 0;
  background-color: #ffff;
  padding: 1.5rem;
  padding-top: 80px;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.toggled {
  left: -180px;
}

.without-sidebar {
    padding-left: 90px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }
}
</style>
